<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome to Classify By Dates API</h1>
</header>

 <h1></h1>
 <h2>{{fetchUrl}}</h2>
 <h2>{{url}}</h2>

 <ul *ngFor="let d of data | paginate: {itemsPerPage : 1, currentPage:page, id:'1'};">
   <li><strong>Title = <a href={{d.url}}><h4 align="center">{{d.title}}</h4></a></strong> <br> <strong>URL =</strong> <a href={{d.url}}>{{d.url}}</a> <br>
    <strong>Date =</strong> {{d.date}} <br> <strong>Description =</strong> {{d.input_text}}<br><strong>Summary =</strong> {{d.sum}}<br><br></li>
 </ul>

 <pagination-controls (pageChange)="page = $event" id="1"
        maxSize="5"
        directionLinks="true"
        autoHide="true">
  </pagination-controls>